<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black">

    <!-- component -->
    <section class=" w-full  flex flex-col items-center mb-6">
        <div class=" w-full h-10 flex flex-row justify-between items-center p-8 md:p-12 ">
            <div>
                <h1 class="font-extrabold text-4xl text-[#ffc800]">JT</h1>
            </div>
            <div class="">
                <a href="{% url 'home' %}" class="font-bold text-gray-100 mr-4">Akey</a>
                <a href="{% url 'potfolyo' %}"class="font-bold text-gray-100 mr-4">Potflyo</a>
                <a href="{% url 'konpetans' %}" class="font-bold text-gray-100 mr-4">Konpetans</a>
                <a href="{% url 'apwopo' %}" class="font-bold text-gray-100 mr-4">Apwopo</a>
                <a href="{% url 'kontak' %}" class="font-bold text-gray-100 mr-4">Kontak</a>
            </div>

        </div>
        <div class="w-full p-3 flex flex-col gap-3   ">
            <h1 class="text-4xl mb-5 text-[#ffc800] text-center font-bold uppercase">Potflyo</h1>

            <div class=" flex flex-col items-center justify-center gap-4  folio md:flex-row md:flex-wrap">
                <div class="items bg-[#ffc800] p-4 rounded-md md:w-[40.5%] ">
                    <h1 class="text-2xl text-white mb-2">flyers Dizay</h1>
                    <p class="text-1xl mb-6 font-semibold  md:text-lg lg:text-xl text-black">tout kalit visyel ou bzwen pou antrepriz ou </p>
                    <a href="https://www.behance.net/gallery/169614479/social-media-design-for-MOMOYA"
                        class="inline-flex items-center justify-center  text-base font-medium text-center text-black  ">
                       Al Gade
                        <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>

                <div class="items bg-[#ffc800] p-4 rounded-md md:w-[40.5%] ">
                    <h1 class="text-2xl text-white mb-2">Devlopman website
                    </h1>
                    <p class="text-1xl mb-6 font-semibold  md:text-lg lg:text-xl text-black">bel site pou rezoude pwoblem antrepriz ou an </p>
                        <a href="https://github.com/Jameskythelusma"
                        class="inline-flex items-center justify-center  text-base font-medium text-center text-black  ">
                       Al Gade
                        <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>

                </div>

                <div class="items bg-[#ffc800] p-4 rounded-md md:w-[40.5%] ">
                    <h1 class="text-2xl text-white mb-2">Jesyon baz done</h1>
                    <p class="text-1xl mb-6 font-semibold  md:text-lg lg:text-xl text-black">kreyasyon ,jesyon ,ak mentanans nan baz de done </p>
                        <a href="#"
                        class="inline-flex items-center justify-center  text-base font-medium text-center text-black  ">
                       Al Gade
                        <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>


                <div class="items bg-[#ffc800] p-4 rounded-md md:w-[40.5%] ">
                    <h1 class="text-2xl text-white mb-2">logo design</h1>
                    <p class="text-1xl mb-6 font-semibold  md:text-lg lg:text-xl text-black">bon kalite idante vizyel pou antrepriz ou an </p>
                        <a href="https://www.behance.net/gallery/169609725/brand-identity-Naturade"
                        class="inline-flex items-center justify-center  text-base font-medium text-center text-black  ">
                       Al Gade
                        <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center text-white p-8">
        <small>
            <p>Copyright 2023 by jamesky Thelusma. All Rights Reserved.</p>
        </small>
    </footer>

</body>

</html>